name: cmake

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  cmake:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      matrix:
        python-version: ["3.12", "3.11", "3.10"]
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          mamba-version: "*"
          channels: conda-forge,defaults

      - name: Install conda prereqs
        run: |
          mamba install \
            log4cxx \
            cmake \
            make \
            libboost-devel \
            cxx-compiler

      - name: Install Python prereqs
        run: |
          pip install \
            pybind11[global] \
            pytest \
            pytest-flake8 \
            "flake8<5" \
            lsst-utils

      - name: CMake configure
        run: |
          cmake \
            -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/build/install \
            -B ${{github.workspace}}/build

      - name: CMake build
        run: cmake --build ${{github.workspace}}/build --parallel `nproc`

      - name: CMake test
        working-directory: ${{github.workspace}}/build
        run: ctest

      - name: CMake install
        run: cmake --build ${{github.workspace}}/build --target install

      - name: Python tests
        env:
          PYTHONPATH: ${{github.workspace}}/build/install/python
          LD_LIBRARY_PATH: ${{github.workspace}}/build/install/lib
        run: pytest -r a -v
